@import url(../../../_variables.css);

.form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 0.1rem;
  z-index: -1;
}

.input {
  margin-right: 1rem;
  width: 100%;
}

.iconButton {
  background: none;
  border: none;
  padding: 0 0.4rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  height: 1.5rem;
  color: var(--icon-error-color);
}

.iconButton:hover {
  transform: scale(1.2);
}

.iconButton > * {
  height: inherit;
}

.error-text {
  color: var(--icon-error-color);
  font-weight: bold;
  z-index: -2;
}

.enter {
  opacity: 0;
  margin-top: -2rem;
  overflow: hidden;
}

.enter-active {
  opacity: 1;
  margin-top: 1rem;
  transition: all 800ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.exit {
  opacity: 1;
  margin-top: 1rem;
  overflow: hidden;
}

.exit-active {
  opacity: 0;
  margin-top: -1rem;
  transition: all 800ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
