@import url(../../_variables.css);

.no-user-text {
  color: var(--primary-color);
}

.error-text {
  color: var(--icon-error-color);
  font-weight: bold;
}

ul {
  padding: 1rem;
  list-style: none;
  width: 95%;
}

.exit-active {
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}
