.enter {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: translateY(-100%);
}

.enter-active {
  opacity: 1;
  max-height: 1000px;
  transform: translateY(0);
  transition: opacity 800ms cubic-bezier(0.25, 0.1, 0.25, 1),
    max-height 800ms cubic-bezier(0.25, 0.1, 0.25, 1),
    transform 800ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.exit {
  opacity: 1;
  max-height: 1000px;
  overflow: hidden;
  transform: translateY(0);
}

.exit-active {
  opacity: 0;
  max-height: 0;
  transform: translateY(-100%);
  transition: opacity 800ms cubic-bezier(0.25, 0.1, 0.25, 1),
    max-height 800ms cubic-bezier(0.25, 0.1, 0.25, 1),
    transform 800ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
