.enter {
  opacity: 0;
  transform: translateY(-40%);
}

.enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.exit {
  opacity: 1;
  transform: translateY(0);
}

.exit-active {
  opacity: 0;
  transform: translateY(-20%);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}
